version: '3'

services:
  entrypoint:
    image: nginx-ssl-oss-meetme
    ports:
      - 80:80
      - 443:443
    depends_on:
      - frontend
      - backend
    networks:
      no-internet:
        aliases:
          - api.localhost.edu
          - localhost.edu
      authnet:

  mongo:
    image: database-meetme
    networks:
      - no-internet
      - mongo-net
    volumes:
      - /var/run/meetme/mongo:/var/run/external

  mongo-jr:
    image: database-meetme
    networks:
      - no-internet
      - mongo-net
    volumes:
      - /var/run/meetme/mongo-jr:/var/run/external

  mongo-the-third:
    image: database-meetme
    networks:
      - no-internet
      - mongo-net
    volumes:
      - /var/run/meetme/mongo-the-third:/var/run/external

  frontend:
    image: frontend-meetme-webpack
    networks:
      - no-internet
    volumes:
      - ./frontend:/root
    deploy:
      mode: replicated
      replicas: 1

  backend:
    image: backend-meetme
    networks:
      - no-internet
      - authnet
    volumes:
      - ./backend:/root
      - /var/log/meetme/backend:/logs
    deploy:
      mode: replicated
      replicas: 1
    depends_on:
      - mongo
      - mongo-jr
      - mongo-the-third

  openldap:
    image: openldap-meetme
    networks:
      authnet:
        aliases:
          - ldap.localhost.edu
    ports:
      - 1389:1389
    # volumes:
    #   - ./openldap_data:/bitnami/openldap

  shibboleth:
    image: shibboleth-idp-meetme
    networks:
      authnet:
      no-internet:
        aliases:
          - idp.localhost.edu
    environment:
      - JAVA_OPTS=-Djava.security.egd=file:/dev/urandom -Xmx3000m
    ports:
      - 4443:4443

networks:
  no-internet:
    attachable: true
  authnet:
    attachable: true
  mongo-net:
    attachable: true
  socat-net:
    attachable: true
